# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
build
webroot/node_modules
.vertx
classes
file-uploads
doc
src/main/resources/webroot/assets
src/main/resources/webroot/api-doc
src/main/resources/webroot/*.html
src/main/resources/webroot/*.eot
src/main/resources/webroot/*.svg
src/main/resources/webroot/*.woff*
src/main/resources/webroot/*.ttf
src/main/resources/webroot/*.js*
application