<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading"><img src="/assets/logo.png" alt=""> Giwitter</h1>
            <hr>
            <p>Application de messagerie simple</p>
            <a href="#/signup" class="btn btn-primary btn-xl page-scroll">Inscrivez vous</a>
        </div>
    </div>
</header>
<div class="mastfoot">
    <div class="inner">
        <p>Made by <a href="http://giwi.free/fr" target="_blank">Giwi Softwares</a> |
            <a href="https://twitter.com/XavMarin" target="_blank"><i class="fa fa-twitter fa-fw"></i>@XavMarin</a> |
            <a href="https://github.com/Giwi" target="_blank"><i class="fa fa-github fa-fw"></i>Giwi</a>
        </p>
    </div>
</div>