.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}
.my-drop-zone img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.card-img.overlay {
    filter: brightness(40%);
}
.card-title {
    text-align: center;
}